@font-face {
    font-family:Dyno;
    src: url("../Fonts/Dyno Regular.ttf");
}

@font-face {
    font-family:Cicle Fina;
    src: url("../Fonts/Cicle Fina.ttf");
}

body,html{
	margin:0;
	padding:0;
	background-color:#333333;
	color:white;
	font-family:Cicle Fina;
}

a{color:white;}

h1{	
	font-family:Dyno;
	color : #ea5c0d;
	margin-bottom:1.5%;
	margin-left:10%;
	font-size:75px;}	
	
h2{font-family:Dyno;}

h3{font-family:Dyno;	}
	.h31{margin-left:10%;}
	.h32{margin-left:28%;}
	.h33{margin-left:33%;}
	
h4{font-family:Dyno;}



.start{
	margin-top:7%;
	margin-bottom:7%;}

.row.mar{
	padding-top:5%;
	padding-bottom:5%;
	background-color:#505050;
}

.row.mar2{
	padding-top:5%;
	padding-bottom:5%;
	background-color:#333333;
}

.img-circle.img-responsive.box{
	box-shadow: 0 0 0 5px #f7af3e;
	height:300px !important;
	width:300px !important;}

	

@media screen and (max-width: 800px) {
	
.img-circle.img-responsive.box{
	box-shadow: 0 0 0 5px #f7af3e;
	height:300px !important;
	width:300px !important;
	margin-left:12%;
}
h1{	
	font-family:Dyno;
	color : #ea5c0d;
	margin-bottom:1.5%;
	margin-left:10%;
	font-size:35px;}	


.rec{margin-top:-8px;}

	.h31{margin-left:25%;}
	.h32{margin-left:43%;}
	.h33{margin-left:47%;}

.start{
margin-top:15%;
margin-bottom:15%;}

iframe{margin-left:8%;}

h2{margin-left:15%;}

}

	
	
	
	
	
	
	
	
	
	
	


