h1{
	font-family:Dyno; 
	background-image:url("../photo/titre2.png");
	background-repeat:no-repeat;
	padding-bottom:25px;
	padding-left:65px;
	margin-bottom:100px;
	}

th3{
	border-top:2px solid white;
	border-bottom:2px solid white; 
	padding:10px;
	 text-transform: uppercase;
}
.marge {margin-bottom:80px;}

.img-responsive.cut{
	 height: 300px !important;
	 width: 500px !important;
}
.row.text-center p {
  font-size: 17px;
  font-weight: 600;
  margin: 3px 0 30px;
  text-transform: uppercase;
}

.btn-default {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50px;
  text-shadow: 0 1px 0 #fff;
}
.glyphicon {color: white;}

.caption-text p {
  margin: 18px auto 13px;
  text-align: center;
  width: 91%;
}
.btn-default:focus, .btn-default:hover {
  background-color: red;
  background-position: 0 -15px;
}
	
  .cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 300px;
		background-color:#cccccc;
		margin-bottom:20px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-250px);
		-webkit-transform:translateY(-250px);
		-moz-transform:translateY(-250px);
		-ms-transform:translateY(-250px);
		-o-transform:translateY(-250px);
	}
	.cuadro_intro_hover img{z-index: 4;}
	
	.cuadro_intro_hover .caption{
		position: absolute;
		top:250px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}