	h1{
	font-family:Dyno; 
	background-image:url("../photo/titre2.png");
	background-repeat:no-repeat;
	padding-bottom:25px;
	padding-left:65px;
	}
	
	
.th3{
	font-family:Dyno; 
	background-image:url("../photo/sous_titre2.png");
	background-repeat:no-repeat;
	background-position: bottom left;
	padding-top:0px;
	padding-bottom:10px;
	padding-left:10px;
	color:#f7af3e;
	}
	
.marge {margin-bottom:40px;}
.marge2 {margin-left:5%;}

.hotel{
	background-color:#505050;
	padding:2%;
	border-radius:5px;
	margin-left:6.5%;
	margin-top:30px;
	
}
		

#image{
	
	display: block;
    margin: auto;
	box-shadow: 0 0 0 5px #ea5c0d;
}

.img-responsive.v2{
position:relative}


		
			